.todo-list {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  button {
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
  }
  input {
    font-family: 'Roboto Mono', monospace;
    padding: 0.5rem 0;
    padding-left: 1rem;
  }
}

.head {
  color: #22174e; 
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

.todo-form {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  #todoValue {
    display: block;
    width: 100%;
    border : 2px solid #f1e5b7;
    font-size: 1.1rem;
    color: #332d36;
    &:focus {
      outline: none;
    }
  }
  button {
    color: #fff;
    font-size: 1.7rem;
    display: block;
    width: 150px;
    padding: 0.5rem 0;
    background: #f1e5b7;
    border: none;
    &:hover {
      color: #f7d756;
    }
  }
}

.todos {
  margin: 1.5rem 0; 
}

.todo-block {
  border-radius: 3px;
  display: flex;
  border: 1px solid #332d36;
  background: #adc7c8;
  margin: 1rem 0;
  padding: 10px;
  width: 100%;
  button {
    background: transparent;
    border: none;
    display: block;
    padding: 0.5rem;
    font-size: 1.5rem;
    &:focus {
      outline: none;
    }
  }
  button:nth-child(1) {
    flex-grow: 5;
    color : #fff;
  }
  button:nth-child(2) {
    flex-grow: 1
  }
}

.delete-todo {
  color : #fff;
  &:hover {
    background: #d6b6c1	;
    color: #3f2730;
  }
}

.edit-todo {
  color : rgb(150, 150, 150);
}

.done {
  text-decoration: line-through;
}

.todo-block:nth-child(even) {
  background: #e7e2de;
}

.todo-block__to-edit {
  display: flex;
  width: 100%;
}
.todo-block__to-save {
  display: none;
}

.todo-block.edit .todo-block__to-edit{ 
  display: none;
}

.todo-block.edit .todo-block__to-save {
  display: flex;
  width: 100%;
}