@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    padding: 4rem;
    background-color: #e1bfbe;
    font-family: 'Roboto Mono', monospace;

    #container {
        display: flex;
        justify-content: center;
    }

}